<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://localhost:8010/static/styles.css">        
</head>
<body>
    <h1>Détails du patient</h1>
    <h2>Nom : {{ patient.name }}</h2>
    <h2>Age : {{ patient.age }}</h2>
    <h2>Prediction : {{ patient.prediction }}</h2>
    <!-- Utilisation de l'image encodée en base64 -->
    <img src="data:image/jpeg;base64,{{ patient.encoded_image }}" alt="Patient Tumor Image">
    <form id="validateForm" action="/validate_patient/patients/{{ patient.id }}" method="POST">
        <button id="validateBtn" type="button" name="validate">Valider</button>
        <button id="unvalidateBtn" type="button" name="unvalidate">Ne pas valider</button>
    </form>
    <script>
        async function updateValidation(validationValue) {
            const patientName = "{{ patient.name }}";
            const patientId = "{{ patient.id }}";
            const formData = new FormData();
            formData.append('validation', validationValue);
            try {
                const response = await fetch(`/validate_patient/{{ patient.id }}`, {
                    method: 'POST',
                    body: formData
                });
                if (!response.ok) {
                    throw new Error('Failed to update validation');
                }
                console.log('Validation updated successfully');
                // Redirect or update UI as needed
            } catch (error) {
                console.error('Error:', error);
            }
        }

        const validateButton = document.getElementById('validateBtn');
        validateButton.addEventListener('click', () => {
            updateValidation('valide');
        });

        const unvalidateButton = document.getElementById('unvalidateBtn');
        unvalidateButton.addEventListener('click', () => {
            updateValidation('non-valide');
        });
    </script>
</body>
</html>

